:root{
  --negro: #000000;
  --verde: #2f7c46;
}
html{
  font-size: 62.5%; /*Truco adaptativo --> 1rem =10px*/ 
  box-sizing: border-box;
}
body{
  background-image: url("../Imagenes/FondoTr40.webp");
  background-repeat: no-repeat;
  background-size: auto auto;
  font-family: 'Caveat', cursive;
  font-size: 16px; /*Truco adaptativo --> 1rem =10px*/
}
body h1{
  margin: 0.2rem;
}
.anima{
  color: var(--negro);
  position: relative;
  text-decoration: none;
  font-size: 3.2rem;
}
.anima::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--verde);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.anima:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  color: var(--verde);
}
.anima{
  font-size: 3.2rem;
}
.usuario{
  font-size: 3.2rem;
}
.navega{
  display: flex;
}
.logo{
  margin: 2rem 0rem 0rem 2rem;
  height: 150px;
  width:150px;
}
.opciones{
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 3.5rem;
  margin:auto;
}
.foot{
  color: var(--negro);
  position: relative;
  text-decoration: none;
  font-size: 1.6rem;
}
.titulo{
  display: flex;
  justify-content:left;
  margin-left: 3%;
}

main{
  margin: 1.2rem 9rem;
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modificar{
  margin: 1.2rem 1rem;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
}
.actualizar{
  margin: 1.2rem 15rem;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  font-size: 1.9rem
}
.existentes{
  overflow-y: scroll; 
  width: 100%;
  height: 40.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(209, 221, 193, 0.541);
  padding: 20px;
  margin: 1rem 1rem;
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}

.productos table{
  width: 100%;
  border-spacing: 0;
}
.productos thead{
  background-color: var(--verde);
}

.productos th{
  color: white;
  font-size: 1.6rem;
}
.productos td{
  text-align: center;
  font-size: 1.6rem;
}
.productos .imagenTabla{
  width: 10rem;
}
.productos .botonAmarillo{
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  background-color: rgb(192, 180, 10);
}

.botonRojo{
  font-family: 'Caveat', cursive;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer;
  border: 0rem;
  color: white;
  margin-top: 1.5rem;
  background-color: rgb(134, 13, 13);
}

.boton{
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 1.0rem;
  font-size: 3.2rem;
  text-decoration: none;
  cursor: pointer;
  border-width: 0.2rem;
  border-color: #000000;
  color: var(--negro);
  background-color: rgb(209, 221, 193);
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}

.formularioCrearProductos{
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: rgba(209, 221, 193, 0.541);
  padding: 20px;
  margin: auto;
  margin-top: 1px;
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}
.formularioCrearProductos h4{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 1rem;
}
.formularioCrearProductos p{
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 1.8rem;
}
.formularioCrearProductos a{
  font-size: 1.8rem;
}

.formularioCrearProductos .controls{
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  margin: 0.3rem 2rem;
  border: 1px; /*sin borde por no especificar el color*/
  font-size: 1.6rem;
  font-family: 'Caveat', cursive;
}
.formularioCrearProductos .boton{
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  background-color: rgb(209, 221, 193);
  font-family: 'Caveat', cursive;
}
.formularioModificarProductos{
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: rgba(209, 221, 193, 0.541);
  padding: 20px;
  margin: 0.1rem 10rem;
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}
.formularioModificarProductos h4{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 1rem;
}
.formularioModificarProductos p{
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 1.8rem;
}
.formularioModificarProductos a{
  font-size: 1.8rem;
}

.formularioModificarProductos .controls{
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  margin: 0.3rem 2rem;
  border: 1px; /*sin borde por no especificar el color*/
  font-size: 1.6rem;
  font-family: 'Caveat', cursive;
}
.formularioModificarProductos .boton{
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  background-color: rgb(209, 221, 193);
  font-family: 'Caveat', cursive;
}
.seccionMod{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items:center;
  margin: 1rem 1rem ;
}
.imagenMod{
  height: 60rem;
}
footer {
  position: relative;
  height: 2rem;
}
footer a{
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
}
footer a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--verde);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
footer a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  color: var(--verde);
}
@media (max-width: 768px){
  .opciones{
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
  }
}