:root{
    --negro: #000000;
    --verde: #2f7c46;
  }
  html{
    font-size: 62.5%; /*Truco adaptativo --> 1rem =10px*/ 
    box-sizing: border-box;
  }
  body{
    background-image: url("../Imagenes/FondoTr40.webp");
    background-repeat: no-repeat;
    background-size: auto auto;
    font-family: 'Caveat', cursive;
    font-size: 16px; /*Truco adaptativo --> 1rem =10px*/
  }
  body h1{
    margin: 0.2rem;
  }
  .usuario{
    font-size: 3.2rem;
  }
  .anima{
    color: var(--negro);
    position: relative;
    text-decoration: none;
    font-size: 3.2rem;
  }
  .anima::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--verde);
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  .anima:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    color: var(--verde);
  }
  .anima{
    font-size: 3.2rem;
  }
  .navega{
    display: flex;
  }
  .logo{
    margin: 2rem 0rem 0rem 2rem;
    height: 150px;
    width:150px;
  }
  .opciones{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 3.5rem;
    margin:auto;
  }
  main{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    overflow-y: scroll; 
    width: 100%;
    height: 60rem;
  }
  .contenidoProductos{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba(209, 221, 193, 0.541);
    border-radius: 15px;
    box-shadow: 7px 14px 35px #ada8a8;
    margin: 1rem 5rem;
  }
  .anuncio h2{
    margin: 1rem 0rem 0.3rem 0rem;
    text-align:center;
  }
  .contenidoProductos p{
    margin: 1rem 0rem 0.3rem 0rem;
  }
  .imagenCat{
    height: 32rem;
  }
  .precio{
    font-size: 2.2rem;
    font-weight: bold;
  }
  .descrip{
    width: 80%;
    font-size: 1.8rem;
    padding: 1rem 1rem 1rem 2.3rem;
    text-align:justify;
  }
  .foot{
    color: var(--negro);
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
  }
  .titulo{
    display: flex;
    justify-content:left;
    margin-left: 3%;
  }
  footer {
    position: relative;
    height: 1.9rem;
  }
  footer a{
    font-size: 1.6rem;
    position: absolute;
    bottom: 0;
  }
  footer a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: var(--verde);
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  footer a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
    color: var(--verde);
  }
  @media (max-width: 768px){
    .opciones{
      margin-top: 2rem;
      flex-direction: column;
      text-align: center;
    }
  }