:root{
  --negro: #000000;
  --verde: #2f7c46;
}
html{
  font-size: 62.5%; /*Truco adaptativo --> 1rem =10px*/ 
  box-sizing: border-box;
}
body{
  background-image: url("../Imagenes/FondoTr40.webp");
  background-repeat: no-repeat;
  background-size: auto auto;
  font-family: 'Caveat', cursive;
  font-size: 16px; /*Truco adaptativo --> 1rem =10px*/
}

a{
  color: var(--negro);
  position: relative;
  text-decoration: none;
  font-size: 3.2rem;
}
a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--verde);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  color: var(--verde);
}
nav{
  max-width: 80%;
  margin: 0 auto 0 auto;
  font-size:3.4rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px){
  nav{
    flex-direction: column;
    text-align: center;
  }
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

footer {
  position: relative;
  height: 289px;
}
footer a{
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
}