:root{
  --negro: #000000;
  --verde: #2f7c46;
}
*{
    box-sizing: border-box;
    font-size: 62.5%; /*Truco adaptativo --> 1rem =10px*/ 
}
body{
  background-color: transparent;
  background-image: url("../Imagenes/FondoTr70.webp");
  background-repeat: no-repeat;
  background-size: auto auto;
  font-family: 'Caveat', cursive;
  font-size: 16px; /*Truco adaptativo --> 1rem =10px*/
}
a{
  color: var(--negro);
  position: relative;
  text-decoration: none;
}
.anima::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--verde);
  bottom: 0;
  left: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.anima:hover::before{
  transform-origin: left;
  transform: scaleX(1);
  color: var(--verde);
}
.logo{
  margin-top: 20px;
  margin-left: 20px;
}
.formularioLogin{
  width: 400px;
  background-color: rgba(209, 221, 193, 0.541);
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}
.formularioLogin h4{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.formularioLogin p{
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 1.8rem;
}

.formularioLogin a{
  font-size: 1.8rem;
}

.formularioLogin .controls{
  width: 40%;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px; /*sin borde por no especificar el color*/
  font-size: 1.6rem;
  font-family: 'Caveat', cursive;
  margin-left: 0.3rem;
}
.formularioLogin .boton{
  padding: 3px;
  font-family: 'Caveat', cursive;
  font-size: 1.8rem;
  width: auto;
  height: auto;
  margin-left: 0.5rem;
}
.formularioRegistro{
  width: 400px;
  background-color: rgba(209, 221, 193, 0.541);
  padding: 20px;
  margin: auto;
  margin-top: 1px;
  border-radius: 15px;
  box-shadow: 7px 14px 35px #ada8a8;
}
.formularioRegistro h4{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.formularioRegistro p{
  height: 20px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 1.8rem;
}
.formularioRegistro a{
  font-size: 1.8rem;
}

.formularioRegistro .controls{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px; /*sin borde por no especificar el color*/
  font-size: 1.6rem;
  font-family: 'Caveat', cursive;
}
.formularioRegistro .boton{
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-family: 'Caveat', cursive;
}
.formularioRegistro .checkB{
  margin-right: 10px;
}

.login {
  position: relative;
  height: 282px;
}
.login a{
  position: absolute;
  bottom: 0;
  font-size: 1.6rem;
}
.registro {
  position: relative;
  height: 32px;
}
.registro a{
  position: absolute;
  bottom: 0;
  font-size: 1.6rem;
}
